*.class

# Package Files #
*.jar
*.war
*.ear

# MC/Forge Directories #
cpw/
ibxm/
net/
paulscode/
assets/forge/
ui/
out/
Etc/
gradle/
.gradle/
build/
eclipse/
Logs/
.idea/

# MC/Forge files #
deobfuscation_data-*.lzma
fml_at.cfg
fml_marker.cfg
fmlversion.properties
forge_at.cfg
forge_logo.png
mcp.png
mcpmod.info
Start.java
ForgeModLoader-client-0.log.lck